<div class="container element-content">
    <div class="row">
        <div class="col-sm-3" *ngFor="let invoice of invoices">
            <a [routerLink]="['/realtorsingleinvoice', invoice.iid]" class="element-box el-tablo">
                <div class=" mb-3 text-danger">
                    {{invoice.invoice_number}}
                </div>
                <div class="">
                    {{invoice.description}}
                </div>
                <div class="value mt-3">
                    {{invoice.price|currency:'NGN'}}
                </div>
                <div class="mt-4 text-size-1">
                    <i class="os-icon os-icon-clock mr-1"></i>{{invoice.due_date}}
                </div>
            </a>
        </div>
    </div>
</div>