<div class="all-wrapper with-side-panel solid-bg-all">

    <div class="layout-w">
        <!-- 
          START - Mobile Menu
           -->
        <app-customermobilemenu></app-customermobilemenu>
        <!-- END - Mobile Menu -->

        <!-- 
          START - Main Menu
           -->
        <app-customermainmenu></app-customermainmenu>
        <!-- 
          END - Main Menu
           -->

        <div class="content-w">
            <!-- 
            START - Top Bar
             -->
            <app-customertopbar></app-customertopbar>
            <!-- 
            END - Top Bar
             -->

            <!-- 
            START - Breadcrumbs
             -->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">Products</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Laptop with retina screen</span>
                </li>
            </ul>
            <!-- 
            END - Breadcrumbs
             -->
            <div class="content-panel-toggler">
                <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
            </div>
            <div class="content-i">
                <div class="content-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="element-wrapper">
                                <div class="element-content">
                                    <div class="row">
                                        <div class="col-sm-4 col-xxxl-3">
                                            <a class="element-box el-tablo">
                                                <div class="label">
                                                    My Properties
                                                </div>
                                                <div class="value">
                                                    572
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-4 col-xxxl-3">
                                            <a class="element-box el-tablo">
                                                <div class="label">
                                                    All Properties
                                                </div>
                                                <div class="value">
                                                    457
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-4 col-xxxl-3">
                                            <a class="element-box el-tablo">
                                                <div class="label">
                                                    All Agents
                                                </div>
                                                <div class="value">
                                                    125
                                                </div>
                                            </a>
                                        </div>
                                        <div class="d-none d-xxxl-block col-xxxl-3">
                                            <a class="element-box el-tablo" href="#">
                                                <div class="label">
                                                    Refunds Processed
                                                </div>
                                                <div class="value">
                                                    $294
                                                </div>
                                                <div class="trending trending-up-basic">
                                                    <span>12%</span><i class="os-icon os-icon-arrow-up2"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xxxl-6">
                            <div class="element-wrapper">
                                <h6 class="element-header">
                                    My Properties
                                </h6>
                                <div class="element-box">
                                    <div class="table-responsive">
                                        <table class="table table-padded">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        Property Name
                                                    </th>
                                                    <th class="text-center">
                                                        Price
                                                    </th>
                                                    <th class="text-center">
                                                        Sold By
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        4 Plots Of Land
                                                    </td>
                                                    <td class="text-center">
                                                        N 23,000
                                                    </td>
                                                    <td class="text-center">
                                                        Adeola Thomas
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">
                                                        2 Acres Of Land
                                                    </td>
                                                    <td class="text-center">
                                                        N 12,000
                                                    </td>
                                                    <td class="text-center">
                                                        Gbemirin Adeola
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 
              START - Sidebar
               -->
                <div class="content-panel">
                    <div class="content-panel-close">
                        <i class="os-icon os-icon-close"></i>
                    </div>
                    <div class="element-wrapper">
                        <h6 class="element-header">
                            Quick Links
                        </h6>
                        <div class="element-box-tp">
                            <div class="el-buttons-list full-width">
                                <a class="btn btn-white btn-sm" [routerLink]="['/customerviewallrealtors']"><i
                                        class="os-icon os-icon-window-content"></i><span>View All Realtors</span></a>
                                <a class="btn btn-white btn-sm" [routerLink]="['/customersettings']"><i
                                        class="os-icon os-icon-wallet-loaded"></i><span>Settings</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- 
                START - Support Agents
                 -->
                    <div class="element-wrapper">
                        <h6 class="element-header">
                            Referred Realtor
                        </h6>
                        <div class="element-box-tp">
                            <div class="profile-tile">
                                <a class="profile-tile-box" href="users_profile_small.html">
                                    <div class="pt-avatar-w">
                                        <img alt="" src="../../assets/img/avatar1.jpg">
                                    </div>
                                    <div class="pt-user-name">
                                        Adekunle Adebanjo
                                    </div>
                                </a>
                                <div class="profile-tile-meta">
                                    <ul>
                                        <li>
                                            Email<strong>aguns@gmail.com</strong>
                                        </li>
                                        <li>
                                            Tel:<strong>08123456723</strong>
                                        </li>
                                    </ul>
                                    <div class="pt-btn">
                                        <a class="btn btn-success btn-sm"
                                            [routerLink]="['/adminrealtorsinglepage']">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                END - Support Agents
                 -->
                </div>
                <!-- 
              END - Sidebar
               -->
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>