<div class="all-wrapper with-side-panel solid-bg-all">

    <div class="layout-w">
        <!-- 
          START - Mobile Menu
           -->
        <app-customermobilemenu></app-customermobilemenu>
        <!-- END - Mobile Menu -->

        <!-- 
          START - Main Menu
           -->
        <app-customermainmenu></app-customermainmenu>
        <!-- 
          END - Main Menu
           -->

        <div class="content-w">
            <!-- 
            START - Top Bar
             -->
            <app-customertopbar></app-customertopbar>
            <!-- 
            END - Top Bar
             -->

            <!-- 
            START - Breadcrumbs
             -->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customerdashboard']">Customer Dashboard</a>
                </li>
                
            </ul>
            <!-- 
            END - Breadcrumbs
             -->
            <div class="content-panel-toggler">
                <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
            </div>
            <div class="content-i">
                <div class="content-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="element-wrapper">
                                <app-invoice-customer></app-invoice-customer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>