<div class="all-wrapper solid-bg-all">

    <div class="layout-w">
        <!--------------------
                      START - Mobile Menu
                      -------------------->
        <app-customermobilemenu></app-customermobilemenu>
        <!--------------------
                      END - Mobile Menu
                      -------------------->
        <!--------------------
                      START - Main Menu
                      -------------------->
        <app-customermainmenu></app-customermainmenu>
        <!--------------------
                      END - Main Menu
                      -------------------->
        <div class="content-w">
            <!--------------------
                        START - Top Bar
                        -------------------->
            <app-customertopbar></app-customertopbar>
            <!--------------------
                        END - Top Bar
                        -------------------->
            <!--------------------
                        START - Breadcrumbs
                        -------------------->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/customerdashboard']">Home</a>
                </li>
                
            </ul>
            <!--------------------
                        END - Breadcrumbs
                        -------------------->


            <div class="all-wrapper rentals">
                <!--------------------
                            START - Rentals Content
                            -------------------->
                <div class="rentals-list-w">
                    <div class="rentals-list">
                        <div class="list-controls">
                            <div class="list-info">
                                {{searchText}}
                            </div>
                            <div class="list-order">
                                <label for="">Order By:</label><select>
                                    <option>
                                        Relevance
                                    </option>
                                    <option>
                                        Date
                                    </option>
                                    <option>
                                        Price
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="property-items as-list p-1">
                            <!--------------------
                                  START - Property Item
                                  -------------------->
                                    <div class="property-item" *ngFor="let land of purchases">
                                        <a class="item-media-w" [routerLink]="['/customersinglelandproperty', land.land_info.pid]">
                                            <div class="item-media">
                                                <app-propertyimage [sourc]="land.land_info.pid" [sourc2]="land.images[0].filename"></app-propertyimage>
                                            </div>
                                        </a>
                                        <div class="item-info">
                                            <div class="item-features">
                                                <div class="feature">
                                                    <!-- no of plots -->
                                                    {{land.land_info.no_of_plots}} plot(s)
                                                </div>
                                                <div class="feature">
                                                    <!-- land area -->
                                                    {{land.location[0].city}}
                                                </div>
                                                <div class="feature">
                                                    {{land.location[0].state}}
                                                </div>
                                            </div>
                                            <h3 class="item-title">
                                                <a [routerLink]="['/customersinglelandproperty', land.land_info.pid]">{{land.land_info.name}}</a>
                                            </h3>
                                            <div>{{land.land_info.price|currency:'NGN':'symbol'}}</div>
                                            <div class="item-price-buttons">
                                                <div class="item-price">
                                                    <strong>{{ land.Price }}</strong><span>{{ land.Per_Acre }}</span>
                                                </div>
                                                <div class="item-buttons">
                                                    <a class="btn btn-outline-primary"
                                                    [routerLink]="['/customersinglelandproperty', land.land_info.pid]"><span>Details</span><i
                                                            class="os-icon os-icon-arrow-2-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <!--------------------
                                  END - Property Item
                                  -------------------->
                            <!--------------------
                                  START - Property Item
                                  -------------------->
                            
                            <!--------------------
                                  END - Property Item
                                  -------------------->
                        </div>
                        <div class="pagination-w">
                            <div class="pagination-info">
                                {{searchText}}
                            </div>
                            <div class="pagination-links">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#"> Previous</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#"> 1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"> 2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"> 3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"> Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------
                            END - Rentals Content
                            -------------------->
            </div>






        </div>
    </div>
    <div class="display-type"></div>
</div>