<div class="all-wrapper with-side-panel solid-bg-all">

        <div class="layout-w">
            <!-- 
                  START - Mobile Menu
                   -->
            <app-realtormobilemenu></app-realtormobilemenu>
            <!-- END - Mobile Menu -->
    
            <!-- 
                  START - Main Menu
                   -->
            <app-realtormainmenu></app-realtormainmenu>
            <!-- 
                  END - Main Menu
                   -->
    
            <div class="content-w">
                <!-- 
                    START - Top Bar
                     -->
                <app-realtortopbar></app-realtortopbar>
                <!-- 
                    END - Top Bar
                     -->
    
                <!-- 
                    START - Breadcrumbs
                     -->
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Customer Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="index.html">Invoices</a>
                    </li>
                </ul>
                <!-- 
                    END - Breadcrumbs
                     -->
                <div class="content-panel-toggler">
                    <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
                </div>
                <div class="content-i">
                    <div class="content-box">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="element-wrapper">
                                    <div class="element-content">
                                        <div class="row">
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" [routerLink]="['/adminsingleinvoice']">
                                                    <div class="label mb-3 text-danger">
                                                        #Receipt HSFB 342823
                                                    </div>
                                                    <div class="label">
                                                        3 bedroom flat
                                                    </div>
                                                    <div class="value mt-3">
                                                        $57,000,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>24/07/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-success">
                                                        #Receipt HSFB 544853
                                                    </div>
                                                    <div class="label">
                                                        2 acre of land
                                                    </div>
                                                    <div class="value mt-3">
                                                        $122,000,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>12/03/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-info">
                                                        #Receipt HSFB 846723
                                                    </div>
                                                    <div class="label">
                                                        3 Office Desk
                                                    </div>
                                                    <div class="value mt-3">
                                                        $22,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>24/07/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-success">
                                                        #Receipt HSFB 544853
                                                    </div>
                                                    <div class="label">
                                                        2 acre of land
                                                    </div>
                                                    <div class="value mt-3">
                                                        $122,000,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>12/03/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-info">
                                                        #Receipt HSFB 846723
                                                    </div>
                                                    <div class="label">
                                                        8 large Office Chair
                                                    </div>
                                                    <div class="value mt-3">
                                                        $13,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>24/07/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-danger">
                                                        #Receipt HSFB 342823
                                                    </div>
                                                    <div class="label">
                                                        1 Bedroom Self Contained
                                                    </div>
                                                    <div class="value mt-3">
                                                        $1,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>24/07/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-success">
                                                        #Receipt HSFB 342823
                                                    </div>
                                                    <div class="label">
                                                        3 Plots of Land
                                                    </div>
                                                    <div class="value mt-3">
                                                        $18,000,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>24/07/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-danger">
                                                        #Receipt HSFB 342823
                                                    </div>
                                                    <div class="label">
                                                        2 bedroom flat
                                                    </div>
                                                    <div class="value mt-3">
                                                        $27,000,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>24/07/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-danger">
                                                        #Receipt HSFB 342823
                                                    </div>
                                                    <div class="label">
                                                        3 bedroom flat
                                                    </div>
                                                    <div class="value mt-3">
                                                        $57,000,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>24/07/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-success">
                                                        #Receipt HSFB 544853
                                                    </div>
                                                    <div class="label">
                                                        2 acre of land
                                                    </div>
                                                    <div class="value mt-3">
                                                        $122,000,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>12/03/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-info">
                                                        #Receipt HSFB 846723
                                                    </div>
                                                    <div class="label">
                                                        3 Office Desk
                                                    </div>
                                                    <div class="value mt-3">
                                                        $22,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>24/07/2019
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 col-xxxl-3">
                                                <a class="element-box el-tablo" href="#">
                                                    <div class="label mb-3 text-success">
                                                        #Receipt HSFB 544853
                                                    </div>
                                                    <div class="label">
                                                        2 acre of land
                                                    </div>
                                                    <div class="value mt-3">
                                                        $122,000,000
                                                    </div>
                                                    <div class="mt-4 text-size-1">
                                                        <i class="os-icon os-icon-clock mr-1"></i>12/03/2019
                                                    </div>
                                                </a>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="display-type"></div>
    </div>