<div class="all-wrapper with-side-panel solid-bg-all">

    <div class="layout-w">
        <!-- 
                          START - Mobile Menu
                           -->
        <app-realtormobilemenu></app-realtormobilemenu>
        <!-- END - Mobile Menu -->

        <!-- 
                          START - Main Menu
                           -->
        <app-realtormainmenu></app-realtormainmenu>
        <!-- 
                          END - Main Menu
                           -->

        <div class="content-w">
            <!-- 
                            START - Top Bar
                             -->
            <app-realtortopbar></app-realtortopbar>
            <!-- 
                            END - Top Bar
                             -->

            <!-- 
                            START - Breadcrumbs
                             -->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/realtordashboard']">Home</a>
                </li>
                <!-- <li class="breadcrumb-item">
                    <a href="index.html">View All Purchase</a>
                </li> -->
            </ul>
            <!-- 
                            END - Breadcrumbs
                             -->


            <div class="content-i">
                <div class="content-box">
                    <div class="element-wrapper">
                        <div class="element-box-tp">
                            <div class="element-box-tp">
                                <!--------------------
                                                            START - Controls Above Table
                                                            -------------------->
                                <div class="controls-above-table">
                                        <div class="row">
                                                <p class="text-primary">* Case-sensitive Search</p>
                                            </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="form-control" [(ngModel)]="typedTerm" placeholder="Search" type="text">
                                        </div>
                                        <div class="col-sm-6">

                                        </div>
                                    </div>
                                </div>
                                <!--------------------
                                                            END - Controls Above Table
                                                            ------------------          -->
                                <!--------------------
                                                            START - Table with actions
                                                            ------------------  -->
                                <app-inspection-realtor [searchTerm]="typedTerm"></app-inspection-realtor>
                                



                                <!--------------------
                                                            END - Table with actions
                                                            ------------------            -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <div class="display-type"></div>
</div>