<div class="all-wrapper solid-bg-all">

    <div class="layout-w">
        <!--------------------
          START - Mobile Menu
          -------------------->
        <app-realtormobilemenu></app-realtormobilemenu>
        <!--------------------
          END - Mobile Menu
          -------------------->
        <!--------------------
          START - Main Menu
          -------------------->
        <app-realtormainmenu></app-realtormainmenu>
        <!--------------------
          END - Main Menu
          -------------------->
        <div class="content-w">
            <!--------------------
            START - Top Bar
            -------------------->
            <app-realtortopbar></app-realtortopbar>
            <!--------------------
            END - Top Bar
            -------------------->
            <!--------------------
            START - Breadcrumbs
            -------------------->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">Products</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Laptop with retina screen</span>
                </li>
            </ul>
            <!--------------------
            END - Breadcrumbs
            -------------------->
            <div class="content-i">
                <div class="content-box">
                    <div class="element-wrapper">




                        <div class="controls-above-table">
                            <h6>Send Invoice to Customer</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-search-w">
                                        <input class="form-control rounded bright" placeholder="Email....."
                                            type="search">
                                    </div>
                                </div>
                                <div class="col-sm-6 mt-2">
                                    <a class="btn btn-sm btn-secondary" href="#">SEND</a>
                                </div>
                            </div>
                        </div>



                        <div class="invoice-w">
                            <div class="infos">
                                <div class="info-1">
                                    <div class="invoice-logo-w">
                                        <img alt="" src="./assets/img/logo2.png">
                                    </div>
                                    <div class="company-name">
                                        Royal Estate
                                    </div>
                                    <div class="company-address">
                                        47 Wale balogun close, <br />Sangotedo, Lagos State <br />Nigeria
                                    </div>
                                    <div class="company-extra">
                                        tel. +2348135678733
                                    </div>
                                </div>
                                <div class="info-2">
                                    <div class="company-name">
                                        Mr Ayo Adegbami
                                    </div>
                                    <div class="company-address">
                                        Benson Street, Suite 430<br />Ojota, Lagos State<br />Nigeria
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-heading">
                                <h3>
                                    Invoice
                                </h3>
                                <div class="invoice-date">
                                    23-3-2019
                                </div>
                            </div>
                            <div class="invoice-body">
                                <div class="invoice-desc">
                                    <div class="desc-label">
                                        Invoice #
                                    </div>
                                    <div class="desc-value">
                                        HSFB 342823
                                    </div>
                                </div>
                                <div class="invoice-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Description
                                                </th>
                                                <th>
                                                    Qty
                                                </th>
                                                <th class="text-right">
                                                    Price
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    3 Bedroom Flat
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td class="text-right">
                                                    $57,000,000
                                                </td>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    Total
                                                </td>
                                                <td class="text-right" colspan="2">
                                                    $57,000,000
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div class="terms">
                                        <div class="terms-header">
                                            Terms and Conditions
                                        </div>
                                        <div class="terms-content">
                                            Should be paid as soon as received, otherwise a 5% penalty fee is
                                            applied
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-footer">
                                <div class="invoice-logo">
                                    <img alt="" src="./assets/img/logo.png"><span>Paper Inc</span>
                                </div>
                                <div class="invoice-info">
                                    <span>info@royalestate.com</span><span>+2348156745467</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>