<div class="all-wrapper with-side-panel solid-bg-all">

    <div class="layout-w">
        <!-- 
              START - Mobile Menu
               -->
        <app-realtormobilemenu></app-realtormobilemenu>
        <!-- END - Mobile Menu -->

        <!-- 
              START - Main Menu
               -->
        <app-realtormainmenu></app-realtormainmenu>
        <!-- 
              END - Main Menu
               -->

        <div class="content-w">
            <!-- 
                START - Top Bar
                 -->
            <app-realtortopbar></app-realtortopbar>
            <!-- 
                END - Top Bar
                 -->

            <!-- 
                START - Breadcrumbs
                 -->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Admin Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">Agreement</a>
                </li>
            </ul>
            <!-- 
                END - Breadcrumbs
                 -->
            <div class="content-panel-toggler">
                <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
            </div>
            <div class="content-i">
                <div class="content-box">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="element-wrapper">
                                <div class="element-content">
                                    <div class="row">

                                        <div class="col-sm-12 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <h4>16G used</h4>
                                                <div class="fancy-progress-with-label mt-2">
                                                    <div class="fpl-label">
                                                        65%
                                                    </div>
                                                    <div class="fpl-progress-w">
                                                        <div class="fpl-progress-i" style="width: 65%;"></div>
                                                    </div>
                                                </div>
                                                <div class="post-text">
                                                    You have 65% of all your storage left
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-9">
                            <div class="element-wrapper">
                                <div class="element-content">
                                    <div class="row">
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-info"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_farex.doc
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-danger"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_india.pdf
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-secondary"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_people.ppt
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-success"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_ogun.xls
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-danger"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_india.pdf
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-success"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_ogun.xls
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-info"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_farex.doc
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-secondary"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_people.ppt
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-success"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_ogun.xls
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-danger"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_india.pdf
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i
                                                        class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-secondary"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_people.ppt
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                        <div class="col-sm-3 col-xxxl-3">
                                            <a class="element-box el-tablo" href="">
                                                <div class="value mt-3">
                                                    <i class="os-icon os-icon-file mr-1 text-size-2 ml-3 text-info"></i>
                                                </div>
                                                <div class="mt-4 text-size-1">
                                                    Document_farex.doc
                                                </div>
                                                <a class="btn btn-sm btn-secondary mt-2 ml-3" href="#">Download</a>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>