<div class="all-wrapper solid-bg-all">

    <div class="layout-w">
        <!--------------------
                                  START - Mobile Menu
                                  -------------------->
        <app-realtormobilemenu></app-realtormobilemenu>
        <!--------------------
                                  END - Mobile Menu
                                  -------------------->
        <!--------------------
                                  START - Main Menu
                                  -------------------->
        <app-realtormainmenu></app-realtormainmenu>
        <!--------------------
                                  END - Main Menu
                                  -------------------->
        <div class="content-w">
            <!--------------------
                                    START - Top Bar
                                    -------------------->
            <app-realtortopbar></app-realtortopbar>
            <!--------------------
                                    END - Top Bar
                                    -------------------->
            <!--------------------
                                    START - Breadcrumbs
                                    -------------------->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">Products</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Laptop with retina screen</span>
                </li>
            </ul>
            <!--------------------
                                    END - Breadcrumbs
                                    -------------------->

            <div class="all-wrapper rentals">
                <div class="content-i">
                    <div class="content-box">
                        <!--START - Control panel above projects-->
                        <div class="os-tabs-w mx-4">
                            <div class="os-tabs-controls">
                                <ul class="nav nav-tabs upper">
                                    <li class="nav-item">
                                        <a aria-expanded="false" class="nav-link active" data-toggle="tab"
                                            href="#personal">
                                            Personal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#payment">
                                            Payment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a aria-expanded="true" class="nav-link" data-toggle="tab" href="#referral">
                                            Referral</a>
                                    </li>
                                </ul>


                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="personal" role="tabpanel"
                                        aria-labelledby="one-tab">
                                        <div class="content-i">
                                            <div class="content-box p-0 mt-5">
                                                <div class="row">

                                                    <div class="col-lg-9">
                                                        <div class="element-wrapper">
                                                            <div class="element-box">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for=""> Estate Name</label><input
                                                                            class="form-control"
                                                                            placeholder="Estate Name" type="text">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for=""> Surname
                                                                                    Name</label><input
                                                                                    class="form-control"
                                                                                    placeholder="Surname Name"
                                                                                    type="text">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for="">First Name</label><input
                                                                                    class="form-control"
                                                                                    placeholder="First Name"
                                                                                    type="text">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for="">Other Name</label><input
                                                                                    class="form-control"
                                                                                    placeholder="Other Name"
                                                                                    type="text">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for=""> Marital
                                                                                    Status</label><select
                                                                                    class="form-control">
                                                                                    <option>
                                                                                        Select
                                                                                    </option>
                                                                                    <option>
                                                                                        Married
                                                                                    </option>
                                                                                    <option>
                                                                                        Single
                                                                                    </option>
                                                                                    <option>
                                                                                        Divorced
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for=""> Date Picker</label>
                                                                                <input class="form-control"
                                                                                    placeholder="Date of birth" type="date">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for=""> Nationality</label><input
                                                                            class="form-control"
                                                                            placeholder="Nationality" type="text">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for=""> Address</label><input
                                                                            class="form-control" placeholder="Address"
                                                                            type="text">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for=""> Mailing Address</label><input
                                                                            class="form-control"
                                                                            placeholder="Mailing Address" type="text">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for=""> Email</label><input
                                                                                    class="form-control"
                                                                                    placeholder="Email" type="email">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="">Phone Number</label><input
                                                                                    class="form-control"
                                                                                    placeholder="Phone Number"
                                                                                    type="text">
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <h4 class="mt-3">
                                                                        Next of Kin
                                                                    </h4>

                                                                    <div class="form-group">
                                                                        <label for="">Name</label><input
                                                                            class="form-control" placeholder="Name"
                                                                            type="text">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="">Address</label><input
                                                                            class="form-control" placeholder="Address"
                                                                            type="text">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="">Email</label><input
                                                                                    class="form-control"
                                                                                    placeholder="email" type="email">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="">Phone Number</label><input
                                                                                    class="form-control"
                                                                                    placeholder="Phone Number"
                                                                                    type="text">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mt-3">
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for=""> Category</label><select
                                                                                    class="form-control">
                                                                                    <option>
                                                                                        Bronze Realtor
                                                                                    </option>
                                                                                    <option>
                                                                                        Silver Realtor
                                                                                    </option>
                                                                                    <option>
                                                                                        Gold Realtor
                                                                                    </option>
                                                                                    <option>
                                                                                        Diamond Realtor
                                                                                    </option>
                                                                                    <option>
                                                                                        Elite Realtor
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for=""> Amount
                                                                                    Payable</label><select
                                                                                    class="form-control">
                                                                                    <option>
                                                                                        Free
                                                                                    </option>
                                                                                    <option>
                                                                                        N 2,100
                                                                                    </option>
                                                                                    <option>
                                                                                        N 52,500
                                                                                    </option>
                                                                                    <option>
                                                                                        N 157,500
                                                                                    </option>
                                                                                    <option>
                                                                                        N 525,000
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <div class="form-group">
                                                                                <label for=""> %
                                                                                    Comission</label><select
                                                                                    class="form-control">
                                                                                    <option>
                                                                                        5%
                                                                                    </option>
                                                                                    <option>
                                                                                        10&
                                                                                    </option>
                                                                                    <option>
                                                                                        12%
                                                                                    </option>
                                                                                    <option>
                                                                                        15%
                                                                                    </option>
                                                                                    <option>
                                                                                        20%
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-buttons-w">
                                                                        <button class="btn btn-primary w-100"
                                                                            type="submit">
                                                                            Submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="three-tab">
                                        <div class="content-i">
                                            <div class="content-box p-0 mt-5">
                                                <div class="row">

                                                    <div class="col-lg-9">
                                                        <div class="element-wrapper">
                                                            <div class="element-box">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for=""> Account Name</label><input
                                                                            class="form-control"
                                                                            placeholder="Account Name" type="text">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for=""> Account No.</label><input
                                                                                    class="form-control"
                                                                                    placeholder="Account No."
                                                                                    type="text">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for=""> Bank</label><select
                                                                                    class="form-control">
                                                                                    <option>
                                                                                        First Bank
                                                                                    </option>
                                                                                    <option>
                                                                                        GT Bank
                                                                                    </option>
                                                                                    <option>
                                                                                        Access Bank
                                                                                    </option>
                                                                                    <option>
                                                                                        Polaris Bank
                                                                                    </option>
                                                                                    <option>
                                                                                        Wema Bank
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-buttons-w">
                                                                        <button class="btn btn-primary w-100"
                                                                            type="submit">
                                                                            Submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="tab-pane fade" id="referral" role="tabpanel" aria-labelledby="four-tab">
                                        <div class="content-i">
                                            <div class="content-box p-0 mt-5">
                                                <div class="row">

                                                    <div class="col-lg-9">
                                                        <div class="element-wrapper">
                                                            <div class="element-box">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <label for=""> Referral Name</label><input
                                                                            class="form-control"
                                                                            placeholder="Referral Name" type="text">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for=""> Referral Phone
                                                                            Number</label><input class="form-control"
                                                                            placeholder="Phone Number" type="text">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for=""> Referral
                                                                                    Email</label><input
                                                                                    class="form-control"
                                                                                    placeholder="Referral Email"
                                                                                    type="email">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for=""> Date Picker</label>
                                                                                <input class="form-control"
                                                                                    placeholder="Date of birth" type="date">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-buttons-w">
                                                                        <button class="btn btn-primary w-100"
                                                                            type="submit">
                                                                            Submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>




                            </div>
                        </div>
                        <!--END - Control panel above projects-->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="display-type"></div>
</div>