<div
    class="menu-w color-scheme-dark color-style-bright menu-position-side menu-side-left menu-layout-full sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
    <div class="logo-w">
        <a class="logo" href="index.html">
            <div class="mt-1">
                <img src="./assets/img/foan.png" />
            </div>
        </a>
    </div>

    <h1 class="menu-page-header">
        Page Header
    </h1>
    <ul class="main-menu">
        <li class="selected">
            <a [routerLink]="['/customerdashboard']">
                <div class="icon-w">
                    <div class="os-icon os-icon-layout"></div>
                </div>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-header">
            <span class="mt-2">Properties</span>
        </li>
        <li class="">
            <a [routerLink]="['/customerallland']">
                <div class="icon-w">
                    <div class="os-icon os-icon-send"></div>
                </div>
                <span>All Properties</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/customermylands']">
                <div class="icon-w">
                    <div class="os-icon os-icon-home"></div>
                </div>
                <span>My Properties</span>
            </a>
        </li>

        <li class="sub-header">
            <span class="mt-2">Documents</span>
        </li>
        <li class="">
            <a [routerLink]="['/customerinvoice']">
                <div class="icon-w">
                    <div class="os-icon os-icon-pocket"></div>
                </div>
                <span>Invoices</span>
            </a>
        </li>
        <!-- <li class="">
            <a [routerLink]="['/customeragreement']">
                <div class="icon-w">
                    <div class="os-icon os-icon-file-plus"></div>
                </div>
                <span>Agreement</span>
            </a>
        </li> -->
        <li class="">
            <a [routerLink]="['/customerpaymenthistory']">
                <div class="icon-w">
                    <div class="os-icon os-icon-dollar-sign"></div>
                </div>
                <span>Payment History</span>
            </a>
        </li>

        <li class="sub-header">
            <span class="mt-2">Others</span>
        </li>
        <li class="">
            <a [routerLink]="['/customersettings']">
                <div class="icon-w">
                    <div class="os-icon os-icon-settings"></div>
                </div>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    
</div>