<div
    class="menu-w color-scheme-dark color-style-bright menu-position-side menu-side-left menu-layout-full sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
    <div class="logo-w">
        <a class="logo">
            <div class="mt-1">
                <img src="./assets/img/foan.png" />
            </div>
        </a>
    </div>

    <h1 class="menu-page-header">
        Page Header
    </h1>
    <ul class="main-menu">
        <li class="selected">
            <a [routerLink]="['/realtordashboard']">
                <div class="icon-w">
                    <div class="os-icon os-icon-layout"></div>
                </div>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-header">
            <span class="mt-2">Properties</span>
        </li>
        <li class="">
            <a [routerLink]="['/realtorallland']">
                <div class="icon-w">
                    <div class="os-icon os-icon-send"></div>
                </div>
                <span>All Properties</span>
            </a>
        </li>
        <!-- <li class="">
            <a [routerLink]="['/realtorviewsavedland']">
                <div class="icon-w">
                    <div class="os-icon os-icon-home"></div>
                </div>
                <span>View Saved Properties</span>
            </a>
        </li> -->

        <li class="sub-header">
            <span class="mt-2">Documents</span>
        </li>
        <li class="">
            <a [routerLink]="['/realtorinvoice']">
                <div class="icon-w">
                    <div class="os-icon os-icon-pocket"></div>
                </div>
                <span>View Invoices</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/realtorviewinspectionlist']">
                <div class="icon-w">
                    <div class="os-icon os-icon-file-text"></div>
                </div>
                <span>View Inspection List</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/realtorviewdownline']">
                <div class="icon-w">
                    <div class="os-icon os-icon-documents-13"></div>
                </div>
                <span>View Downlines</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/realtorviewcommission']">
                <div class="icon-w">
                    <div class="os-icon os-icon-documents-13"></div>
                </div>
                <span>View Commissions</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/realtorsubscriptionform']">
                <div class="icon-w">
                    <div class="os-icon os-icon-plus-circle"></div>
                </div>
                <span>Update Realtor Details</span>
            </a>
        </li>

        <li class="sub-header">
            <span class="mt-2">Others</span>
        </li>
        <li class="">
            <a [routerLink]="['/realtorsettings']">
                <div class="icon-w">
                    <div class="os-icon os-icon-settings"></div>
                </div>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <div class="side-menu-magic">
        <h4>
            Light Admin
        </h4>
        <p>
            Clean Bootstrap 4 Template
        </p>
        <div class="btn-w">
            <a class="btn btn-white btn-rounded"
                href="https://themeforest.net/item/light-admin-clean-bootstrap-dashboard-html-template/19760124?ref=Osetin"
                target="_blank">Purchase Now</a>
        </div>
    </div>
</div>