<div class="all-wrapper with-side-panel solid-bg-all">

    <div class="layout-w">
        <!-- 
                          START - Mobile Menu
                           -->
        <app-adminmobilemenu></app-adminmobilemenu>
        <!-- END - Mobile Menu -->

        <!-- 
                          START - Main Menu
                           -->
        <app-adminmainmenu></app-adminmainmenu>
        <!-- 
                          END - Main Menu
                           -->

        <div class="content-w">
            <!-- 
                            START - Top Bar
                             -->
            <app-admintopbar></app-admintopbar>
            <!-- 
                            END - Top Bar
                             -->

            <!-- 
                            START - Breadcrumbs
                             -->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admindashboard']">Admin Dashboard</a>
                </li>
                <!-- <li class="breadcrumb-item">
                    <a href="index.html">Invoices</a>
                </li> -->
            </ul>
            <!-- 
                            END - Breadcrumbs
                             -->

            <div class="content-i">
                <div class="content-box">
                    <!--START - Control panel above projects-->
                    <div class="os-tabs-w mx-4">
                        <div class="os-tabs-controls">
                            <ul class="nav nav-tabs upper">
                                <li class="nav-item">
                                    <a aria-expanded="false" class="nav-link active" data-toggle="tab"
                                        href="#information">
                                        Land Information</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#location">
                                        Location</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#facilities">
                                        Facilities</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#prices">
                                        Prices/Payment Plans</a>
                                </li>
                                <li class="nav-item">
                                    <a aria-expanded="true" class="nav-link" data-toggle="tab" href="#uploads">
                                        Uploads</a>
                                </li>
                            </ul>


                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="information" role="tabpanel"
                                    aria-labelledby="one-tab">
                                    <div class="content-i">
                                        <div class="content-box p-0 mt-5">
                                            <div class="row">

                                                <div class="col-lg-9">
                                                    <div class="element-wrapper">
                                                        <div class="element-box">
                                                            <button
                                                            data-toggle="tooltip" data-placement="top" title="Click this button to notify that this is a new property about to be created. If this button is disabled, the system knows this is a fresh property."
                                                            type="button" (click)="makeFresh()" [disabled]="freshProperty" class="btn btn-primary">Click To Signify New Property</button>
                                                            <br><br>
                                                            <form [formGroup]="addLandInfoForm" (ngSubmit)="onLISubmit()">
                                                                <div class="form-group">
                                                                    <label for=""> Property Name</label><input formControlName="property_name"
                                                                        class="form-control" placeholder="Property Name"
                                                                        type="text" 
                                                                        [ngClass]="{'is-invalid': f.property_name.touched && f.property_name.invalid}">
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label for="">Plot Size</label><input
                                                                    formControlName="plot_size"
                                                                        class="form-control" placeholder="Plot Size"
                                                                        type="text"
                                                                        [ngClass]="{'is-invalid': f.plot_size.touched && f.plot_size.invalid}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for=""> Price</label><input
                                                                    formControlName="price"
                                                                        class="form-control" placeholder="Price"
                                                                        type="text"
                                                                        [ngClass]="{'is-invalid': f.price.touched && f.price.invalid}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for=""> Number Of Plots</label><input
                                                                    formControlName="no_of_plots"
                                                                        class="form-control"
                                                                        placeholder="Number Of Plots" type="text"
                                                                        [ngClass]="{'is-invalid': f.no_of_plots.touched && f.no_of_plots.invalid}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label> Description</label><textarea
                                                                        class="form-control" rows="3"
                                                                        formControlName="description"
                                                                        [ngClass]="{'is-invalid': f.description.touched && f.description.invalid}"
                                                                        ></textarea>
                                                                </div>
                                                                <div class="form-buttons-w">
                                                                    <button class="btn btn-primary w-100" [disabled]="addLandInfoForm.invalid" type="submit">
                                                                        Submit</button>
                                                                </div>
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-success font-weight-bold"
                                                                    *ngIf="landinfosubmitted=='true'">Property Land Info Submitted</p>
                                                                </div>
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-danger font-weight-bold"
                                                                    *ngIf="landinfosubmitted=='false'">An Error Occurred</p>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="two-tab">
                                    <div class="content-i">
                                        <div class="content-box p-0 mt-5">
                                            <div class="row">

                                                <div class="col-lg-9">
                                                    <div class="element-wrapper">
                                                        <div class="element-box">
                                                            <form [formGroup]="addLandLocation" (ngSubmit)="onLLSubmit()">
                                                                <div class="form-group">
                                                                    <label for=""> Address</label><input
                                                                    formControlName="address"
                                                                    class="form-control" placeholder="Address"
                                                                    type="text" 
                                                                    [ngClass]="{'is-invalid': g.address.touched && g.address.invalid}">
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for=""> State</label><select
                                                                            formControlName="state"
                                                                                class="form-control"
                                                                                [ngClass]="{'is-invalid': g.state.touched && g.state.invalid}">
                                                                                <option selected [ngValue]="null">Select One:</option>
                                                                                <option *ngFor="let item of states;" [value]="item.id">{{item.name}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for=""> Local
                                                                                Government</label><input
                                                                                formControlName="local_govt"
                                                                                class="form-control" placeholder="Local Government"
                                                                                type="text" 
                                                                                [ngClass]="{'is-invalid': g.local_govt.touched && g.local_govt.invalid}">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for=""> City</label><input
                                                                    formControlName="city"
                                                                    class="form-control" placeholder="City"
                                                                    type="text" 
                                                                    [ngClass]="{'is-invalid': g.city.touched && g.city.invalid}">
                                                                </div>
                                                                <div class="form-buttons-w">
                                                                    <button class="btn btn-primary w-100" type="submit"
                                                                    [disabled]="addLandLocation.invalid">
                                                                        Submit</button>
                                                                </div>
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-success font-weight-bold"
                                                                    *ngIf="landinfosubmitted2=='true'">Property Location Submitted</p>
                                                                </div>
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-danger font-weight-bold"
                                                                    *ngIf="landinfosubmitted2=='false'">An Error Occurred</p>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="tab-pane fade" id="facilities" role="tabpanel" aria-labelledby="five-tab">
                                    <div class="content-i">
                                        <div class="content-box">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="element-wrapper">
                                                        <div class="element-box">
                                                            <form [formGroup]="addLandFacilities" (ngSubmit)="onLFSubmit()">


                                                                <div class="row">
                                                                    <div class="col-sm-3" formArrayName=fac
                                                                    *ngFor="let control of formData.controls; let i = index;">
                                                                        <div class="form-check">
                                                                            <label class="form-check-label"><input
                                                                                [formControlName]="i"
                                                                                class="form-check-input"
                                                                                type="checkbox"
                                                                                >{{facil[i].name}}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>

                                                                <div class="form-buttons-w">
                                                                    <button class="btn btn-primary w-100" type="submit">
                                                                        Submit</button>
                                                                </div>
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-success font-weight-bold"
                                                                    *ngIf="landinfosubmitted3=='true'">Property Facilities Submitted</p>
                                                                </div>
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-danger font-weight-bold"
                                                                    *ngIf="landinfosubmitted3=='false'">An Error Occurred</p>
                                                                </div>
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-danger font-weight-bold"
                                                                    *ngIf="landinfosubmitted3=='empty'">Select At Least One</p>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="three-tab">
                                    <div class="content-i">
                                        <div class="content-box p-0 mt-5">
                                            <div class="element-wrapper">
                                                <div class="element-box-tp">
                                                    <div class="element-box-tp">
                                                        <!--------------------
                                                        START - Controls Above Table
                                                        -------------------->
                                                        <div class="controls-above-table">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <a class="btn btn-sm btn-success float-right "
                                                                        data-target="#onboardingFeaturesModal"
                                                                        data-toggle="modal" href="#">Add</a>


                                                                    <div aria-hidden="true"
                                                                        aria-labelledby="exampleModalLabel"
                                                                        class="modal fade" id="onboardingFeaturesModal"
                                                                        role="dialog" tabindex="-1">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title"
                                                                                        id="onboardingFeaturesModal">
                                                                                        Add
                                                                                    </h5>
                                                                                    <button aria-label="Close"
                                                                                        class="close"
                                                                                        data-dismiss="modal"
                                                                                        type="button"><span
                                                                                            aria-hidden="true">
                                                                                            &times;</span></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form [formGroup]="addLandPaymentPlan">
                                                                                        <div class="form-group">
                                                                                            <label for=""> Square
                                                                                                Meter</label><select
                                                                                                formControlName="square_meter"
                                                                                                class="form-control"
                                                                                                [ngClass]="{'is-invalid': h.square_meter.touched && h.square_meter.invalid}">
                                                                                                <option value="300 Sqmt">
                                                                                                    300 Sqmt
                                                                                                </option>
                                                                                                <option value="540 Sqmt">
                                                                                                    540 SqMt
                                                                                                </option>
                                                                                                <option value="200 Sqmt">
                                                                                                    200 SqMt
                                                                                                </option>
                                                                                                <option value="150 Sqmt">
                                                                                                    150 SqMt
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <label for="">
                                                                                                        Outright
                                                                                                        Plan</label><select
                                                                                                        formControlName="outright_plan"
                                                                                                        class="form-control"
                                                                                                        [ngClass]="{'is-invalid': h.outright_plan.touched && h.outright_plan.invalid}">
                                                                                                        <option value="3 months">
                                                                                                            3 months
                                                                                                        </option>
                                                                                                        <option value="6 months">
                                                                                                            6 Months
                                                                                                        </option>
                                                                                                        <option value="8 Months">
                                                                                                            8 Months
                                                                                                        </option>
                                                                                                        <option value="12 Months">
                                                                                                            12 Months
                                                                                                        </option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <label for="">
                                                                                                        Initial
                                                                                                        Deposit</label><input
                                                                                                        [ngClass]="{'is-invalid': h.initial_deposit.touched && h.initial_deposit.invalid}"
                                                                                                        formControlName="initial_deposit"
                                                                                                        class="form-control"
                                                                                                        placeholder="Initial Deposit"
                                                                                                        type="text">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <label for="">
                                                                                                        3
                                                                                                        Months</label><select
                                                                                                        formControlName="three_months_plan"
                                                                                                        class="form-control"
                                                                                                        [ngClass]="{'is-invalid': h.three_months_plan.touched && h.three_months_plan.invalid}">
                                                                                                        <option value="Yes">
                                                                                                            Yes
                                                                                                        </option>
                                                                                                        <option value="No">
                                                                                                            No
                                                                                                        </option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <label for="">
                                                                                                        6
                                                                                                        Months</label><select
                                                                                                        formControlName="six_months_plan"
                                                                                                        class="form-control"
                                                                                                        [ngClass]="{'is-invalid': h.six_months_plan.touched && h.six_months_plan.invalid}">
                                                                                                        <option value="Yes">
                                                                                                            Yes
                                                                                                        </option>
                                                                                                        <option value="No">
                                                                                                            No
                                                                                                        </option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <label for="">
                                                                                                        12
                                                                                                        Months</label><select
                                                                                                        formControlName="twelve_months_plan"
                                                                                                        class="form-control"
                                                                                                        [ngClass]="{'is-invalid': h.twelve_months_plan.touched && h.twelve_months_plan.invalid}">
                                                                                                        <option value="Yes">
                                                                                                            Yes
                                                                                                        </option>
                                                                                                        <option value="No">
                                                                                                            No
                                                                                                        </option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-sm-6">
                                                                                                <div class="form-group">
                                                                                                    <label for="">
                                                                                                        18
                                                                                                        Months</label><select
                                                                                                        formControlName="eighteen_months_plan"
                                                                                                        class="form-control"
                                                                                                        [ngClass]="{'is-invalid': h.eighteen_months_plan.touched && h.eighteen_months_plan.invalid}">
                                                                                                        <option value="Yes">
                                                                                                            Yes
                                                                                                        </option>
                                                                                                        <option value="No">
                                                                                                            No
                                                                                                        </option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label for=""> 24
                                                                                                Months</label><select
                                                                                                formControlName="twentyfour_months_plan"
                                                                                                class="form-control"
                                                                                                [ngClass]="{'is-invalid': h.twentyfour_months_plan.touched && h.twentyfour_months_plan.invalid}">
                                                                                                <option value="Yes">
                                                                                                    Yes
                                                                                                </option>
                                                                                                <option value="No">
                                                                                                    No
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button class="btn btn-secondary"
                                                                                        data-dismiss="modal"
                                                                                        type="button">
                                                                                        Close</button>
                                                                                    <button
                                                                                        data-dismiss="modal"
                                                                                        [disabled]="addLandPaymentPlan.invalid"
                                                                                        class="btn btn-primary"
                                                                                        type="button" (click)="onPPSubmit()"> Save
                                                                                        changes</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>





                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--------------------
                                                        END - Controls Above Table
                                                        ------------------          -->
                                                        <!--------------------
                                                        START - Table with actions
                                                        ------------------  -->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-success font-weight-bold"
                                                                    *ngIf="landinfosubmitted4=='true'">Property Payment Plan Added. It'll reflect on property page.</p>
                                                                </div>
                                                                <div>
                                                                    <p class="mt-4 text-center text-1 text-danger font-weight-bold"
                                                                    *ngIf="landinfosubmitted4=='false'">An Error Occurred</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="table-responsive">
                                                            <table class="table table-padded">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center">
                                                                            Square Meters
                                                                        </th>
                                                                        <th class="text-center">
                                                                            Outright Plan
                                                                        </th>
                                                                        <th class="text-center">
                                                                            Initial Deposit
                                                                        </th>
                                                                        <th class="text-center">
                                                                            3 Months Plan
                                                                        </th>
                                                                        <th class="text-center">
                                                                            6 Months Plan
                                                                        </th>
                                                                        <th class="text-center">
                                                                            12 Months Plan
                                                                        </th>
                                                                        <th class="text-center">
                                                                            18 Months Plan
                                                                        </th>
                                                                        <th class="text-center">
                                                                            24 Months Plan
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody *ngIf="payment_plan_count;else other_content">
                                                                    <tr *ngFor="let item of payment_plan">
                                                                        <td class="text-center">
                                                                            {{item.square_meters}}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{item.outright_plan}}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{item.initial_deposit}}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{item.three_months_plan}}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{item.six_months_plan}}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{item.twelve_months_plan}}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{item.eighteen_months_plan}}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {{item.twentyfour_months_plan}}
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </tbody>
                                                                <ng-template #other_content>
                                                                    <tr>
                                                                        <td colspan="8" class="text-center">No Payment Plan For This Property Yet</td>
                                                                    </tr>
                                                                </ng-template>
                                                                
                                                            </table>
                                                        </div>
                                                        <!--------------------
                                                        END - Table with actions
                                                        ------------------            -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="tab-pane fade" id="uploads" role="tabpanel" aria-labelledby="four-tab">
                                    <div class="content-i">
                                        <div class="content-box p-0 mt-5">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <div class="element-wrapper">
                                                        <div class="element-box">
                                                                
                                                            <form id="upform">
                                                                
                                                                <div class="row">
                                                                    <p class="mt-4 text-center text-1 text-danger font-weight-bold"
                                                                    *ngIf="landinfosubmitted5=='false'">File Type Not Permitted (Must be png or jpg file)</p>
                                                                    <p class="mt-4 text-center text-1 text-danger font-weight-bold"
                                                                    *ngIf="landinfosubmitted5=='error'">An Error Occurred</p>
                                                                    <p class="mt-4 text-center text-1 text-success font-weight-bold"
                                                                    *ngIf="landinfosubmitted5=='true'">Image Uploaded</p>
                                                                    <p class="mt-4 text-center text-1 text-danger font-weight-bold"
                                                                    *ngIf="landinfosubmitted5=='empty'">Select A File To Upload</p>
                                                                </div>
                                                                <div class="upload-btn-wrapper text-center">
                                                                    <input style="display:none" name="image" class="file-input" #fileInput type="file" (change)="onFileSelected($event)">
                                                                    <button class="btn uploadcustom" (click)="fileInput.click()"><i class="os-icon os-icon-upload pr-1"></i>{{uploadText}}</button>
                                                                </div>
                                                                <button class="btn btn-primary"
                                                                type="button" (click)="onFUSubmit()">Upload</button>
                                                                <br /><br />
                                                                <div *ngIf="submittedSuccess">
                                                                    <app-progress [progress]="progress"></app-progress>
                                                                </div>
                                                            </form>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>




                        </div>
                    </div>
                    <!--END - Control panel above projects-->

                </div>
            </div>


        </div>
    </div>
    <div class="display-type"></div>
</div>