<div class="all-wrapper solid-bg-all">

  <div class="layout-w">
    <!--------------------
                  START - Mobile Menu
                  -------------------->
    <app-adminmobilemenu></app-adminmobilemenu>
    <!--------------------
                  END - Mobile Menu
                  -------------------->
    <!--------------------
                  START - Main Menu
                  -------------------->
    <app-adminmainmenu></app-adminmainmenu>
    <!--------------------
                  END - Main Menu
                  -------------------->
    <div class="content-w">
      <!--------------------
                    START - Top Bar
                    -------------------->
      <app-admintopbar></app-admintopbar>
      <!--------------------
                    END - Top Bar
                    -------------------->
      <!--------------------
                    START - Breadcrumbs
                    -------------------->
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Home</a>
        </li>
        <li class="breadcrumb-item">
          <a>Products</a>
        </li>
        <li class="breadcrumb-item">
          <span>Laptop with retina screen</span>
        </li>
      </ul>
      <!--------------------
                    END - Breadcrumbs
                    -------------------->




      <div class="all-wrapper rentals">
        <!--------------------
      START - Rentals Content
      -------------------->
        <div class="property-single">
          <div class="property-media" style="background-image: url(./assets/img/landplot.jpg)">
          </div>
          <div class="property-info-w">
            <div class="property-info-main">
              <div class="badge badge-red">
                For Sale
              </div>
              <div class="item-features">
                <div class="feature">
                  Beach
                </div>
                <div class="feature">
                  500 SqMt
                </div>
                <div class="feature">
                  32 Plots
                </div>
              </div>
              <h1>
                3 Acres Of Land
              </h1>
              <div>1, Wale Balogun close off pa shekoni crescent Ajah Lagos
                state</div>
              <div class="property-price">
                <strong>$1,240,000</strong><span>Listing Price</span>

                <div class="form-buttons mt-3 mb-3">
                  <a class="btn btn-primary" data-target="#onboardingFormModal" data-toggle="modal" href="#">Send as
                    Email</a>
                </div>

                <div class="media-buttons">
                  <h6>Share</h6>
                  <a href="#"><i class="os-icon os-icon-facebook facebook"></i></a>
                  <a href="#"><i class="os-icon os-icon-twitter twitter"></i></a>
                  <a href="#"><i class="os-icon os-icon-instagram instagram"></i></a>
                </div>
              </div>


              <!-- Modal for Send as Email-->
              <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="onboardingFormModal"
                role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="onboardingFormModal">
                        Send Mail
                      </h5>
                      <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                          aria-hidden="true">
                          &times;</span></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for=""> Email</label><input class="form-control" placeholder="Email" type="email">
                        </div>
                        <div class="form-group">
                          <label> Message</label><textarea class="form-control" rows="3"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-dismiss="modal" type="button">
                        Close</button><button class="btn btn-primary" type="button">Send</button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="property-description">
                <p>
                  Exceptional Torrey Hills home located at the end of a cul-de-sac with expansive panoramic views of
                  nature.
                  This lot and location is unique with only 1 neighbor and open space all around. The seller has
                  completely
                  remodeled inside and out in a contemporary style. You approach to a fruit tree garden leading to a
                  gated
                  courtyard professionally landscaped with low water usage and easy-care plants. In award winning school
                  districts, near shopping, entertainment, dining, beaches and easy freeway access.
                </p>
                <p>
                  This lot and location is unique with only 1 neighbor and open space all around. The seller has
                  completely
                  remodeled inside and out in a contemporary style. You approach to a fruit tree garden leading to a
                  gated
                  courtyard professionally landscaped with low water usage and easy-care plants.
                </p>
              </div>
              <div class="property-section">
                <div class="property-section-header">
                  Land Documents
                  <div class="filter-toggle">
                    <i class="os-icon-minus os-icon"></i>
                  </div>
                </div>
                <div class="property-section-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="documents">
                        <h5>
                          Certificate of Ownership
                        </h5>
                        <p>
                          PDF <span class="float-right"><i class="icon-cloud-download"></i> Download</span>
                        </p>
                        <p>Uploaded 03/02/19</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="documents">
                        <h5>
                          Certificate of Ownership
                        </h5>
                        <p>
                          PDF <span class="float-right"><i class="icon-cloud-download"></i> Download</span>
                        </p>
                        <p>Uploaded 03/02/19</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="property-section">
                <div class="property-section-header">
                  Extra Charges
                  <div class="filter-toggle">
                    <i class="os-icon-minus os-icon"></i>
                  </div>
                </div>
                <div class="property-section-body">
                  <div class="row">
                    <div class="col-md-6">
                      <ul>
                        <li>
                          Cleaning Fee: <strong>$50</strong>
                        </li>
                        <li>
                          Security Deposit: <strong>$200</strong>
                        </li>
                        <li>
                          Weekly Discount: <strong>10%</strong>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul>
                        <li>
                          Monthly Discount: <strong>15%</strong>
                        </li>
                        <li>
                          Weekend Price: <strong>$199 / night</strong>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="property-note">
                    <h6>
                      Always communicate through
                    </h6>
                    <p>
                      To protect your payment, never transfer money or communicate outside of the our website or app.
                    </p>
                  </div>
                </div>
              </div>
              <div class="property-section">
                <div class="property-section-header">
                  Facts &amp; Features
                  <div class="filter-toggle">
                    <i class="os-icon-minus os-icon"></i>
                  </div>
                </div>
                <div class="property-section-body">
                  <div class="row">
                    <div class="col-md-6">
                      <ul>
                        <li>
                          <i class="os-icon os-icon-fire"></i><span>Is Not Fenced </span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul>
                        <li>
                          <i class="os-icon os-icon-home-11"></i><span>Is Cleared</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="property-section">
                <div class="property-section-header">
                  House Rules
                  <div class="filter-toggle">
                    <i class="os-icon-minus os-icon"></i>
                  </div>
                </div>
                <div class="property-section-body">
                  <ul>
                    <li>
                      No smoking
                    </li>
                    <li>
                      Not suitable for pets
                    </li>
                    <li>
                      Check in is anytime after 3PM
                    </li>
                  </ul>
                </div>
              </div>
              <div class="property-section">
                <div class="property-section-header">
                  Cancellation Policy
                  <div class="filter-toggle">
                    <i class="os-icon-minus os-icon"></i>
                  </div>
                </div>
                <div class="property-section-body">
                  <h6>
                    Strict
                  </h6>
                  <p>
                    Cancel up to 7 days before your trip and get a 50% refund. Cancel within 7 days of your trip and the
                    reservation is non-refundable.
                  </p>
                </div>
              </div>
              <div class="property-section">
                <div class="property-section-header">
                  Land Realtors
                  <div class="filter-toggle">
                    <i class="os-icon-minus os-icon"></i>
                  </div>
                </div>
                <div class="property-section-body">
                  <a class="btn btn-sm btn-success mb-3" data-target="#assignRealtor" data-toggle="modal">Add
                    New
                    Realtor</a>

                  <div class="table-responsive">
                    <table class="table table-padded">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            Number
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">
                            Adediwura Johnson
                          </td>
                          <td class="text-center">
                            adejuicythnigs@all.com
                          </td>
                          <td class="text-center">
                            09034567323
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            Adediwura Johnson
                          </td>
                          <td class="text-center">
                            adejuicythnigs@all.com
                          </td>
                          <td class="text-center">
                            09034567323
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            Adediwura Johnson
                          </td>
                          <td class="text-center">
                            adejuicythnigs@all.com
                          </td>
                          <td class="text-center">
                            09034567323
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="property-section">
                <div class="property-section-header">
                  Land Buyers
                  <div class="filter-toggle">
                    <i class="os-icon-minus os-icon"></i>
                  </div>
                </div>
                <div class="property-section-body">
                  <div class="table-responsive">
                    <table class="table table-padded">
                      <thead>
                        <tr>
                          <th class="text-center">
                            Name
                          </th>
                          <th class="text-center">
                            Email
                          </th>
                          <th class="text-center">
                            Number
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">
                            Alonga Jons
                          </td>
                          <td class="text-center">
                            alongjons@allthem.com
                          </td>
                          <td class="text-center">
                            08175061874
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            Alonga Jons
                          </td>
                          <td class="text-center">
                            alongjons@allthem.com
                          </td>
                          <td class="text-center">
                            08175061874
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


            <div aria-hidden="true" aria-labelledby="assignRealtorLabel" class="modal fade" id="assignRealtor"
              role="dialog" tabindex="-1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="assignRealtor">
                      Assign Realtor
                    </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        aria-hidden="true">
                        &times;</span></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="" class="float-left">
                          Please Select Realtor</label>
                        <select class="form-control">
                          <option value="">-- Select Realtor --</option>
                          <option>Balogun Abdulrahman</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">
                      Close</button><button class="btn btn-primary" type="button"> Assign Realtor</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="property-info-side">
              <div class="side-section">
                <div class="side-section-header">
                  Facts and Features
                </div>
                <div class="side-section-content">
                  <div class="property-side-features">
                    <div class="feature">
                      <i class="os-icon os-icon-home-34"></i><span>3 Bedrooms</span>
                    </div>
                    <div class="feature">
                      <i class="os-icon os-icon-home-13"></i><span>2 Bathrooms</span>
                    </div>
                    <div class="feature">
                      <i class="os-icon os-icon-home-09"></i><span>Modern Kitchen</span>
                    </div>
                    <div class="feature">
                      <i class="os-icon os-icon-ui-83"></i><span>Built in 2014</span>
                    </div>
                    <div class="feature">
                      <i class="os-icon os-icon-home-10"></i><span>Washer and Dryer</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="side-magic" style="background-image: url(../../assets/img/property1.jpg)">
                <div class="fader"></div>
                <h4 class="side-magic-title">
                  You have a listing to offer?
                </h4>
                <div class="side-magic-desc">
                  List your property on our site and get a special offer
                </div>
                <a class="side-magic-btn">Submit Listing</a>
              </div>
            </div>
          </div>
          <!--------------------
            START - Related Properties
            ------------------              -->
          <div class="related-listings-w">
            <h2 class="property-section-big-header">
              Related Properties
            </h2>
            <div class="related-listings">
              <!--------------------
                START - Property Item
                -------------------->
              <div class="property-item">
                <a class="item-media-w" [routerLink]="['/adminsinglelandproperty']">
                  <div class="item-media" style="background-image: url(./assets/img/landplot.jpg)">
                  </div>
                </a>
                <div class="item-info">
                  <div class="item-features">
                    <div class="feature">
                      Beach
                    </div>
                    <div class="feature">
                      500 SqMt
                    </div>
                    <div class="feature">
                      32 plots
                    </div>
                  </div>
                  <h3 class="item-title">
                    <a [routerLink]="['/adminsinglelandproperty']">3 Acres of Land</a>
                  </h3>
                  <div>1, Wale Balogun close off pa shekoni crescent Ajah Lagos
                    state</div>
                  <div class="item-price-buttons">
                    <div class="item-price">
                      <strong>$250</strong><span>/per acre</span>
                    </div>
                    <div class="item-buttons">
                      <a class="btn btn-outline-primary"
                        [routerLink]="['/adminsinglelandproperty']"><span>Details</span><i
                          class="os-icon os-icon-arrow-2-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
                END - Property Item
                -------------------->
              <!--------------------
                START - Property Item
                -------------------->
              <div class="property-item">
                <a class="item-media-w" [routerLink]="['/adminsinglelandproperty']">
                  <div class="item-media" style="background-image: url(./assets/img/landplot.jpg)">
                  </div>
                </a>
                <div class="item-info">
                  <div class="item-features">
                    <div class="feature">
                      Beach
                    </div>
                    <div class="feature">
                      500 SqMt
                    </div>
                    <div class="feature">
                      32 plots
                    </div>
                  </div>
                  <h3 class="item-title">
                    <a [routerLink]="['/adminsinglelandproperty']">3 Acres of Land</a>
                  </h3>
                  <div>1, Wale Balogun close off pa shekoni crescent Ajah Lagos
                    state</div>
                  <div class="item-price-buttons">
                    <div class="item-price">
                      <strong>$250</strong><span>/per acre</span>
                    </div>
                    <div class="item-buttons">
                      <a class="btn btn-outline-primary"
                        [routerLink]="['/adminsinglelandproperty']"><span>Details</span><i
                          class="os-icon os-icon-arrow-2-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
                END - Property Item
                -------------------->
              <!--------------------
                START - Property Item
                -------------------->
              <div class="property-item">
                <a class="item-media-w" [routerLink]="['/adminsinglelandproperty']">
                  <div class="item-media" style="background-image: url(./assets/img/landplot.jpg)">
                  </div>
                </a>
                <div class="item-info">
                  <div class="item-features">
                    <div class="feature">
                      Beach
                    </div>
                    <div class="feature">
                      500 SqMt
                    </div>
                    <div class="feature">
                      32 plots
                    </div>
                  </div>
                  <h3 class="item-title">
                    <a [routerLink]="['/adminsinglelandproperty']">3 Acres of Land</a>
                  </h3>
                  <div>1, Wale Balogun close off pa shekoni crescent Ajah Lagos
                    state</div>
                  <div class="item-price-buttons">
                    <div class="item-price">
                      <strong>$250</strong><span>/per acre</span>
                    </div>
                    <div class="item-buttons">
                      <a class="btn btn-outline-primary"
                        [routerLink]="['/adminsinglelandproperty']"><span>Details</span><i
                          class="os-icon os-icon-arrow-2-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
                END - Property Item
                -------------------->
            </div>
          </div>
          <!--------------------
            END - Related Properties
            ------------------        -->
        </div>
        <!--------------------
          END - Rentals Content
          -------------------->
      </div>






    </div>
  </div>
  <div class="display-type"></div>
</div>