<div class="all-wrapper with-side-panel solid-bg-all">

    <div class="layout-w">
        <!-- 
          START - Mobile Menu
           -->
        <app-adminmobilemenu></app-adminmobilemenu>
        <!-- END - Mobile Menu -->

        <!-- 
          START - Main Menu
           -->
        <app-adminmainmenu></app-adminmainmenu>
        <!-- 
          END - Main Menu
           -->

        <div class="content-w">
            <!-- 
            START - Top Bar
             -->
            <app-admintopbar></app-admintopbar>
            <!-- 
            END - Top Bar
             -->

            <!-- 
            START - Breadcrumbs
             -->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/admindashboard']">Home</a>
                </li>
                <!-- <li class="breadcrumb-item">
                    <a href="index.html">Products</a>
                </li>
                <li class="breadcrumb-item">
                    <span>Laptop with retina screen</span>
                </li> -->
            </ul>
            <!-- 
            END - Breadcrumbs
             -->
            <div class="content-panel-toggler">
                <i class="os-icon os-icon-grid-squares-22"></i><span>Sidebar</span>
            </div>
            <div class="content-i">
                <div class="content-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="element-wrapper">
                                <div class="element-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="javascript:void(0);" class="element-box el-tablo" >
                                                <div class="label">
                                                    No Of Customers
                                                </div>
                                                <div class="value">
                                                    {{genCus}}
                                                </div>
                                                <div class="trending trending-up-basic">
                                                    <!-- <span>12%</span><i class="os-icon os-icon-arrow-up2"></i> -->
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="javascript:void(0);" class="element-box el-tablo">
                                                <div class="label">
                                                    No Of Realtors
                                                </div>
                                                <div class="value">
                                                    {{genReal}}
                                                </div>
                                                <div class="trending trending-up-basic">
                                                    <!-- <span>19%</span><i class="os-icon os-icon-arrow-up2"></i> -->
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="javascript:void(0);" class="element-box el-tablo" >
                                                <div class="label">
                                                    No Of Properties
                                                </div>
                                                <div class="value">
                                                    {{genPro}}
                                                </div>
                                                <div class="trending trending-down-basic">
                                                    <!-- <span>45%</span><i class="os-icon os-icon-arrow-down"></i> -->
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="element-wrapper">
                                <h6 class="element-header">
                                    Recent Purchases
                                </h6>
                                <div class="element-box">
                                    <div class="table-responsive">
                                        <table class="table table-padded">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        Status
                                                    </th>
                                                    <th class="text-center">
                                                        Land Name
                                                    </th>
                                                    <th class="text-center">
                                                        Customer Name
                                                    </th>
                                                    <th class="text-center">
                                                        Price
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of statPurchases">
                                                    <td class="text-center">
                                                        {{item.purchases_details.status}}
                                                    </td>
                                                    <td class="text-center">
                                                        <a [routerLink]="['/adminsinglelandproperty', item.land_info[0].pid]">{{item.land_info[0].name}}</a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a [routerLink]="['/admincustomersinglepage', item.purchases_details.cid]">{{item.purchases_details.customer_name}}</a>
                                                    </td>
                                                    <td class="text-center">
                                                        {{item.land_info[0].price|currency:'NGN'}}
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!--START - Questions per Product-->
                            <div class="element-wrapper">
                                <!-- <div class="element-actions">
                                    <form class="form-inline justify-content-sm-end">
                                        <select class="form-control form-control-sm rounded">
                                            <option value="Pending">
                                                Today
                                            </option>
                                            <option value="Active">
                                                Last Week
                                            </option>
                                            <option value="Cancelled">
                                                Last 30 Days
                                            </option>
                                        </select>
                                    </form>
                                </div> -->
                                <h6 class="element-header">
                                    New Customers
                                </h6>
                                <div class="element-box">
                                    <div class="table-responsive">
                                        <table class="table table-padded">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        Customer Name
                                                    </th>
                                                    <th class="text-center">
                                                        Phone Number
                                                    </th>
                                                    <th class="text-center">
                                                        Email Address
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of statNewCustomers">
                                                    <td class="text-center">
                                                        <a [routerLink]="['/admincustomersinglepage', item.uid]">{{item.firstname}} {{item.lastname}}</a>
                                                    </td>
                                                    <td class="text-center">
                                                        {{item.phone_number}}
                                                    </td>
                                                    <td class="text-center">
                                                        {{item.email}}
                                                    </td>
                                                    
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--END - Questions per product                  -->
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="element-wrapper">
                                <h6 class="element-header mb-3">
                                    Sales Performance
                                </h6>

                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="element-box el-tablo" [routerLink]="['/adminallcustomers']">
                                            <div class="label">
                                                No Of Customers
                                            </div>
                                            <div class="value">
                                                572
                                            </div>
                                            <div class="trending trending-up-basic">
                                                <span>12%</span><i class="os-icon os-icon-arrow-up2"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="element-box el-tablo" [routerLink]="['/adminallrealtors']">
                                            <div class="label">
                                                No Of Realtors
                                            </div>
                                            <div class="value">
                                                457
                                            </div>
                                            <div class="trending trending-up-basic">
                                                <span>19%</span><i class="os-icon os-icon-arrow-up2"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="element-box el-tablo" [routerLink]="['/adminallland']">
                                            <div class="label">
                                                No Of Properties
                                            </div>
                                            <div class="value">
                                                125
                                            </div>
                                            <div class="trending trending-down-basic">
                                                <span>45%</span><i class="os-icon os-icon-arrow-down"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                 <fusioncharts [type]="type" [width]="width" [height]="height" [dataSource]="dataSource">
                                </fusioncharts>
                            </div>
                        </div>
                        <div class="d-none d-xxxl-block col-xxxl-3">
                            <div class="element-wrapper">
                                <h6 class="element-header">
                                    Visitors by Browser
                                </h6>
                                <div class="element-box less-padding">
                                    <div class="el-chart-w">
                                        <canvas height="120" id="donutChart1" width="120"></canvas>
                                        <div class="inside-donut-chart-label">
                                            <strong>1,248</strong><span>Visitors</span>
                                        </div>
                                    </div>
                                    <div class="el-legend condensed">
                                        <div class="row">
                                            <div class="col-auto col-xxxxl-6 ml-sm-auto mr-sm-auto">
                                                <div class="legend-value-w">
                                                    <div class="legend-pin legend-pin-squared"
                                                        style="background-color: #6896f9;"></div>
                                                    <div class="legend-value">
                                                        <span>Safari</span>
                                                        <div class="legend-sub-value">
                                                            17%, 12 Visits
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="legend-value-w">
                                                    <div class="legend-pin legend-pin-squared"
                                                        style="background-color: #85c751;"></div>
                                                    <div class="legend-value">
                                                        <span>Chrome</span>
                                                        <div class="legend-sub-value">
                                                            22%, 763 Visits
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 d-none d-xxxxl-block">
                                                <div class="legend-value-w">
                                                    <div class="legend-pin legend-pin-squared"
                                                        style="background-color: #806ef9;"></div>
                                                    <div class="legend-value">
                                                        <span>Firefox</span>
                                                        <div class="legend-sub-value">
                                                            3%, 7 Visits
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="legend-value-w">
                                                    <div class="legend-pin legend-pin-squared"
                                                        style="background-color: #d97b70;"></div>
                                                    <div class="legend-value">
                                                        <span>Explorer</span>
                                                        <div class="legend-sub-value">
                                                            15%, 45 Visits
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- 
              START - Sidebar
               -->
                <div class="content-panel">
                    <div class="content-panel-close">
                        <i class="os-icon os-icon-close"></i>
                    </div>
                    <div class="element-wrapper">
                        <h6 class="element-header">
                            Quick Links
                        </h6>
                        <div class="element-box-tp">
                            <div class="el-buttons-list full-width">
                                <a class="btn btn-white btn-sm" [routerLink]="['/addproperty']"><i
                                        class="os-icon os-icon-delivery-box-2"></i><span>Add New Property</span></a>
                                <a class="btn btn-white btn-sm" [routerLink]="['/adminallrealtors']"><i
                                        class="os-icon os-icon-window-content"></i><span>View All Realtors</span></a>
                                <a class="btn btn-white btn-sm" data-target="#onboardingFormModal" data-toggle="modal"
                                    href="#"><i class="os-icon os-icon-delivery-box-2"></i><span>Invite
                                        Users</span></a>
                                <a class="btn btn-white btn-sm" [routerLink]="['/adminsettings']"><i
                                        class="os-icon os-icon-wallet-loaded"></i><span>Settings</span></a>
                            </div>



                            <!-- Modal for Invite Realtor-->
                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                id="onboardingFormModal" role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="onboardingFormModal">
                                                Invite Users
                                            </h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal"
                                                type="button"><span aria-hidden="true">
                                                    &times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for=""> Email</label><input class="form-control"
                                                        placeholder="Email" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label> Message</label><textarea class="form-control"
                                                        rows="3"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                                Close</button><button class="btn btn-primary" type="button">
                                                Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 
                START - Support Agents
                 -->
                 <br><br>
                    <div class="element-wrapper">
                        <h6 class="element-header">
                            Top Selling Customers
                        </h6>
                        <div class="element-box-tp">
                            <div class="profile-tile" *ngFor="let items of statTopCustomers">
                                <a class="profile-tile-box" href="users_profile_small.html">
                                    <div class="pt-avatar-w">
                                        <img alt="Profile Picture" src="../../assets/img/placeholder.png">
                                    </div>
                                    <div class="pt-user-name">
                                        {{items.firstname}}
                                    </div>
                                </a>
                                <div class="profile-tile-meta">
                                    <ul>
                                        <li>
                                            Email<strong>{{items.email}}</strong>
                                        </li>
                                        <li>
                                            Tel:<strong>{{items.phone_number}}</strong>
                                        </li>
                                    </ul>
                                    <div class="pt-btn">
                                        <a class="btn btn-success btn-sm"
                                            [routerLink]="['/admincustomersinglepage', items.uid]">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="element-wrapper">
                        <h6 class="element-header">
                            Top Realtors
                        </h6>
                        <div class="element-box-tp">
                            <div class="profile-tile" *ngFor="let item of topRealtors">
                                <a class="profile-tile-box" [routerLink]="['/adminrealtorsinglepage', item.uid]">
                                    <div class="pt-avatar-w">
                                        <img alt="Profile Picture" src="../../assets/img/placeholder.png">
                                    </div>
                                    <div class="pt-user-name">
                                        {{item.firstname}}
                                    </div>
                                </a>
                                <div class="profile-tile-meta">
                                    <ul>
                                        <li>
                                            Email<strong>{{item.email}}</strong>
                                        </li>
                                        <li>
                                            Tel:<strong>{{item.phone_number}}</strong>
                                        </li>
                                    </ul>
                                    <div class="pt-btn">
                                        <a class="btn btn-success btn-sm"
                                            [routerLink]="['/adminrealtorsinglepage', item.uid]">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                <!-- 
                END - Support Agents
                 -->
                </div>
                <!-- 
              END - Sidebar
               -->
            </div>
        </div>
    </div>
    <div class="display-type"></div>
</div>