<div class="all-wrapper with-side-panel solid-bg-all">

    <div class="layout-w">
        <!-- 
                              START - Mobile Menu
                               -->
        <app-adminmobilemenu></app-adminmobilemenu>
        <!-- END - Mobile Menu -->

        <!-- 
                              START - Main Menu
                               -->
        <app-adminmainmenu></app-adminmainmenu>
        <!-- 
                              END - Main Menu
                               -->

        <div class="content-w">
            <!-- 
                                START - Top Bar
                                 -->
            <app-admintopbar></app-admintopbar>
            <!-- 
                                END - Top Bar
                                 -->

            <!-- 
                                START - Breadcrumbs
                                 -->
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Admin Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="index.html">View All Purchase</a>
                </li>
            </ul>
            <!-- 
                                END - Breadcrumbs
                                 -->


            <div class="content-i">
                <div class="content-box">
                    <div class="element-wrapper">
                        <div class="element-box-tp">
                            <div class="element-box-tp">
                                <!--------------------
                                                                START - Controls Above Table
                                                                -------------------->
                                <div class="controls-above-table">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input class="form-control" placeholder="Search" type="text">
                                        </div>
                                        <div class="col-sm-6">
                                                <a class="btn btn-sm btn-success float-right "
                                                data-target="#onboardingFormModal" data-toggle="modal" href="#">Create Template</a>
                                        </div>
                                    </div>


                                    <!-- Modal for create template-->
                                    <div aria-hidden="true" aria-labelledby="exampleModalLabel"
                                                class="modal fade" id="onboardingFormModal" role="dialog" tabindex="-1">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="onboardingFormModal">
                                                                Create Template
                                                            </h5>
                                                            <button aria-label="Close" class="close"
                                                                data-dismiss="modal" type="button"><span
                                                                    aria-hidden="true">
                                                                    &times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for=""> Full Name</label><input class="form-control"
                                                                        placeholder="Full Name" type="text">
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="">
                                                                                Email</label><input class="form-control"
                                                                                placeholder="Email" type="email">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="">
                                                                                Phone Number</label><input
                                                                                class="form-control"
                                                                                placeholder="Phone Number" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" data-dismiss="modal"
                                                                type="button">
                                                                Close</button><button class="btn btn-primary"
                                                                type="button"> Create</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                </div>
                                <!--------------------
                                                                END - Controls Above Table
                                                                ------------------          -->
                                <!--------------------
                                                                START - Table with actions
                                                                ------------------  -->
                                <div class="table-responsive">
                                    <table class="table table-padded">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    Realtor Name
                                                </th>
                                                <th class="text-center">
                                                    View ID Crad
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let idcard of idcards">
                                                <td class="text-center">
                                                    {{ idcard.Name }}
                                                </td>
                                                <td class="text-center">
                                                    <a class="badge badge-success" data-target="#exampleModal1"
                                                        data-toggle="modal" href="">View</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>




                                <!-- View Modal-->
                                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                    id="exampleModal1" role="dialog" tabindex="-1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModal1">
                                                    Edit ID Card
                                                </h5>
                                                <button aria-label="Close" class="close" data-dismiss="modal"
                                                    type="button"><span aria-hidden="true">
                                                        &times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div>
                                                        <img src="./assets/img/id_card.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                                    Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!--------------------
                                                                END - Table with actions
                                                                ------------------            -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <div class="display-type"></div>
</div>