<div
    class="menu-w color-scheme-dark color-style-bright menu-position-side menu-side-left menu-layout-full sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
    <div class="logo-w">
        <a class="logo" [routerLink]="['/admindashboard']">
            <div class="mt-1">
                <img src="./assets/img/foan.png" />
            </div>
        </a>
    </div>

    <h1 class="menu-page-header">
        Page Header
    </h1>
    <ul class="main-menu">
        <li class="selected">
            <a [routerLink]="['/admindashboard']">
                <div class="icon-w">
                    <div class="os-icon os-icon-layout"></div>
                </div>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-header">
            <span class="mt-2">Properties</span>
        </li>
        <li class="">
            <a [routerLink]="['/adminallland']">
                <div class="icon-w">
                    <div class="os-icon os-icon-send"></div>
                </div>
                <span>All Properties</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/addproperty']">
                <div class="icon-w">
                    <div class="os-icon os-icon-plus"></div>
                </div>
                <span>Add Properties</span>
            </a>
        </li>

        <li class="sub-header">
            <span class="mt-2">Documents</span>
        </li>
        <li class="">
            <a [routerLink]="['/admininvoice']">
                <div class="icon-w">
                    <div class="os-icon os-icon-pocket"></div>
                </div>
                <span>View All Invoices</span>
            </a>
        </li>
        <!-- <li class="">
            <a [routerLink]="['/adminagreement']">
                <div class="icon-w">
                    <div class="os-icon os-icon-file-plus"></div>
                </div>
                <span>View All Agreement</span>
            </a>
        </li> -->
        <li class="">
            <a [routerLink]="['/adminreceipt']">
                <div class="icon-w">
                    <div class="os-icon os-icon-file-text"></div>
                </div>
                <span>View All Receipts</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/adminviewallpurchase']">
                <div class="icon-w">
                    <div class="os-icon os-icon-package"></div>
                </div>
                <span>View All Purchases</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/adminallcustomers']">
                <div class="icon-w">
                    <div class="os-icon os-icon-users"></div>
                </div>
                <span>View All Customers</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/adminallrealtors']">
                <div class="icon-w">
                    <div class="os-icon os-icon-briefcase"></div>
                </div>
                <span>View All Realtors</span>
            </a>
        </li>
        <li class="">
            <a [routerLink]="['/adminviewallcomissions']">
                <div class="icon-w">
                    <div class="os-icon os-icon-book-open"></div>
                </div>
                <span>View All Comissions</span>
            </a>
        </li>

        <!-- <li class="sub-header">
            <span class="mt-2">Statistics</span>
        </li>
        <li class="">
            <a [routerLink]="['/adminsalesperformance']">
                <div class="icon-w">
                    <div class="os-icon os-icon-shopping-cart"></div>
                </div>
                <span>Sales Performance</span>
            </a>
        </li>
        <li class="">
            <a>
                <div class="icon-w">
                    <div class="os-icon os-icon-bar-chart"></div>
                </div>
                <span>C & R Demographics Report</span>
            </a>
        </li>-->

        <li class="sub-header">
            <span class="mt-2">Others</span>
        </li> 
        <!-- <li class="">
            <a [routerLink]="['/adminelectronicidcard']">
                <div class="icon-w">
                    <div class="os-icon os-icon-camera"></div>
                </div>
                <span>Electronic ID Card</span>
            </a>
        </li> -->
        <li class="">
            <a [routerLink]="['/adminsettings']">
                <div class="icon-w">
                    <div class="os-icon os-icon-settings"></div>
                </div>
                <span>Settings</span>
            </a>
        </li>
    </ul>
    <!-- <div class="side-menu-magic">
        <h4>
            Light Admin
        </h4>
        <p>
            Clean Bootstrap 4 Template
        </p>
        <div class="btn-w">
            <a class="btn btn-white btn-rounded" target="_blank">Purchase Now</a>
        </div>
    </div> -->
</div>